<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.FoundMapper">

    <insert id="saveFound" parameterType="com.example.demo.domain.Found" useGeneratedKeys="true" keyProperty="foundId">
        insert
        into found(foundId, userId, title, content, place, image, time, registerAt)
        values(#{foundId}, #{userId}, #{title}, #{content}, #{place}, #{image}, #{time}, #{registerAt})
    </insert>

    <update id="updateFound">
        update found
        set
        title=#{foundDto.title},
        content=#{foundDto.content},
        image=#{foundDto.image},
        time=#{foundDto.time},
        place=#{foundDto.place}
        where foundId=#{foundId}
    </update>

    <select id="getFoundDto" resultType="FoundDto">
        select *
        from found
        where foundId=#{foundId}
    </select>

    <select id="getList" resultType="com.example.demo.vo.FoundVO">
        select *
        from found inner join user on found.userId = user.id
    </select>

    <delete id="deleteFound">
        delete from found where foundId=#{foundId}
    </delete>

</mapper>