<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.FoundCommentMapper">


    <insert id="saveComment" parameterType="com.example.demo.domain.FoundComment" useGeneratedKeys="true"
            keyProperty="commentId">
        insert
        into foundcomment(content, userId, foundId, registerAt)
        values(#{comment.content}, #{comment.userId}, #{comment.foundId}, #{comment.registerAt})
    </insert>

    <select id="getList" resultType="com.example.demo.domain.FoundComment">
        select commentId, content, userId, registerAt, foundId, nickname
        from foundcomment inner join user on foundcomment.userId = user.id
        where foundId = #{foundId}
    </select>


</mapper>